<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>TDDT4IoTS</title>
        <link rel="preconnect" href="https://fonts.gstatic.com"/>
        <link href="https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="resources/img/logo-app/logoOficial.ico">
        <link rel="stylesheet" href="resources/css/css-library/sb-admin-2.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css-app/index-app.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css-library/open-iconic-bootstrap.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css-library/all.min.css" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css-library/toastr.min.css" type="text/css">
        <link rel="stylesheet" href="resources/css/bootstrap-icons-1.11.3/bootstrap-icons.css" type="text/css">
        <link rel="stylesheet" href="resources/codemirror/codemirror.css" type="text/css">
        <link rel="stylesheet" href="resources/codemirror/eclipse.min.css" type="text/css">
        <link href="resources/css/css-app/utils.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/css-viewcode/view-code_default.min.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/css-viewcode/view-code_atom-one-light.css" rel="stylesheet" type="text/css"/>
        <link href="resources/css/css-viewcode/view_code_we.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="resources/css/css-library/UDStyle.css" type="text/css"/>

        <script src="resources/js/js-library/jquery.min.js"></script>
        <script src="resources/js/js-library/bootstrap.bundle.min.js"></script>
        <script src="resources/js/js-library/angular.js" type="text/javascript"></script>
        <script src="resources/js/js-library/angular-route.min.js" type="text/javascript"></script>
        <script src="resources/js/js-global/js_global.js" type="text/javascript"></script>
        <script src="resources/js/js-global/jsAlertPersonalize.js" type="text/javascript"></script>
        <script src="resources/js/js-library/sweetalert2.min.js" type="text/javascript"></script>

        <script src="resources/js/js-view/ctrl_app.js" type="text/javascript"></script>
        <script src="resources/js/js-library/store2.min.js" type="text/javascript"></script>
        <script src="resources/js/js-library/toastr.min.js" type="text/javascript"></script>

        <script src="resources/codemirror/codemirror.js" type="text/javascript"></script>
        <script src="resources/codemirror/clike.min.js" type="text/javascript"></script>
        <script src="resources/codemirror/matchbrackets.js" type="text/javascript"></script>
        <script src="resources/js/js-library/gojs.js" type="text/javascript"></script>

        <!-- Incluir Ace Editor vía CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.0.1/chartjs-plugin-zoom.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

        <script src="resources/js/js-library/UDCore.js"></script>
        <script src="resources/js/js-library/UDModules.js"></script>

    </head>
    <body  ng-controller="application">

    <button type="button" class="btn-suggestion" ng-click="openModalOpinion()">
            <!--<img src="resources/img/img-app/opinion.svg" width="30" height="30"/>   -->
        </button>

    <div class="modal fade" id="modalNewSecretKey" tabindex="-1" role="dialog" aria-labelledby="modalNewSecretKey"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered sha" role="document">
            <div class="modal-content">
                <form name="formSecretKey" ng-submit="addNewSecretKey(formSecretKey)">
                    <div class="modal-header">
                        <h5 class="modal-title">OpenAI</h5>
                        <span class="badge badge-info"> NEW </span>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="ip_secretKey">Enter secret key OpenAI: </label>
                            <input type="text" id="ip_secretKey"
                                   name="ip_secretKey"
                                   ng-model="ip_secretKey"
                                   autocomplete="false"
                                   style="filter: blur(3px);"
                                   ng-disabled="responseHasSecretKey.hasSecretKey"
                                   ng-class="(formSecretKey.ip_secretKey.$invalid &&
                                                       formSecretKey.ip_secretKey.$dirty) ?
                                                       'form-control form-control-sm is-invalid'
                                                       : 'form-control form-control-sm'" required />
                            <div class="invalid-feedback">
                                Please enter the secret key
                            </div>
                        </div>
                        <div style="text-align: center">
                            <button type="button" class="btn button-dt btn-sm" ng-click="closeModalNewSecretKey()"> Cancel </button>
                            <button type="submit" class="btn button-d btn-sm" ng-if="!responseHasSecretKey.hasSecretKey"
                                    ng-disabled="formSecretKey.$invalid"> Add secrey key </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-labelledby="modalSettings"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl modal-dialog-centered sha" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Settings</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-2">

                            <div class="dropdown-menu" style="display: block !important; top: 0%; width: 100%; position:unset !important;">

                                <a ng-repeat="dom_menuSettings in menuSettings"
                                   ng-class="dom_menuSettings.active ? 'dropdown-item active' : 'dropdown-item'"
                                   ng-click="changeMenu(dom_menuSettings)">
                                    <i ng-class="dom_menuSettings.icon"></i>
                                    {{dom_menuSettings.label}} </a>

                                <a class="dropdown-item" ng-click="closeModalSettings()"> <i class="fas fa-times"></i> Close</a>
                            </div>

                        </div>
                        <div class="col-10">

                            <div class="card m-auto" id="settingsOpenAi" ng-if="menuSettings[0].active">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">
                                        OpenAI </h6>
                                </div>
                                <div class="card-body">
                                    <form ng-submit="saveSettingOpenAi()">
                                        <div class="form-group">
                                            <label> Selected model base: </label>
                                            <div class="row">
                                                <div class="col-12" ng-repeat="dom_baseModels in baseModels">
                                                    <div ng-class="dom_baseModels.background" role="alert" id="component_table" ng-click="selectedModelBase(dom_baseModels)">
                                                        <div class="media mb-2">
                                                            <img src="resources/img/img-app/017-brain.png" class="align-self-center mr-3" alt="..." width="40">
                                                            <div class="media-body">
                                                                <div>
                                                                    <strong> Name: </strong> {{dom_baseModels.name}} <br>
                                                                    <strong> Description: </strong> {{dom_baseModels.description}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label> Select how you will use OpenAI: </label>
                                            <div class="row">
                                                <div class="col-6" ng-repeat="dom_useOpenAi in useOpenAi">
                                                    <div ng-class="dom_useOpenAi.value ? 'alert alert-success border-success' : 'alert alert-ligth border-success cursorPointer'" role="alert"
                                                         ng-click="selectedModeUseOpenAi(dom_useOpenAi)">
                                                        <div class="media mb-2">
                                                            <img src="resources/img/img-app/trainig.png" class="align-self-center mr-3" alt="..." width="40">
                                                            <div class="media-body">
                                                                <div>
                                                                    <strong> {{dom_useOpenAi.name}} </strong> <br>
                                                                    <span> {{dom_useOpenAi.description}} </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div style="text-align: right">
                                            <button type="submit" class="btn button-d btn-sm"> Save changes </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="card m-auto" id="trainingOpenAi" ng-if="menuSettings[1].active">
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-dark">
                                        Training </h6>
                                </div>
                                <div class="card-body">
                                    <label> Users who previously trained the selected base model. </label>
                                    <table class="table table-bordered table-hover table-sm">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>Trainer</th>
                                                <th>Model</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="dom_modelPermissions in modelPermissions"  ng-class="dom_modelPermissions.selected ? 'bg-primary text-white' : ''">
                                                <td class="text-white">
                                                    <span> <strong>Name:</strong> </span>
                                                    {{dom_modelPermissions.person.namePerson}} {{dom_modelPermissions.person.lastnamePerson}} <br>
                                                    <span class="badge badge-info"> {{dom_modelPermissions.person.emailPerson}} </span>
                                                    <br>
                                                    <span ng-if="dom_modelPermissions.selected" class="badge badge-success"> IN USE </span>
                                                </td>
                                                <td>
                                                    <span> <strong>Name:</strong> </span>
                                                    {{dom_modelPermissions.model.name}} <br>
                                                    <span> <strong>Description:</strong> </span>
                                                    {{dom_modelPermissions.model.description}}
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>

                                    <label> Trainings conducted based on the previously selected base model. </label>
                                    <table class="table table-bordered table-hover table-sm">
                                        <thead class="thead-light">
                                        <tr>
                                            <th>Commit</th>
                                            <th>Create date</th>
                                            <th>Start/End Trining date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="dom_trainingHistoryFromBaseModel in trainingHistoryFromBaseModel"  ng-class="dom_trainingHistoryFromBaseModel.selected ? 'bg-primary text-white' : ''">
                                            <td class="col-5"> {{dom_trainingHistoryFromBaseModel.commit}} <br>
                                            <span ng-if="dom_trainingHistoryFromBaseModel.selected" class="badge badge-success"> IN USE </span> </td>
                                            <td class="col-2"> {{dom_trainingHistoryFromBaseModel.dateCreation}} </td>
                                            <td class="col-3">
                                                <span> <strong> FROM:  </strong> </span>
                                                {{dom_trainingHistoryFromBaseModel.dateStartTrining}} <br>
                                                <span> <strong> TO: </strong> </span>
                                                {{dom_trainingHistoryFromBaseModel.dateEndTrining}}
                                            </td>
                                            <td>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div style="text-align: right">
                                        <button type="submit" class="btn button-d btn-sm"> Save changes </button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div id="wrapper">
            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-text mx-3 mb-2" style="margin-top: 4rem !important;">
                        <img src="resources/img/logo-app/logoTDDT4IOTSicon.svg" alt="TDDm4IoTBS" width="150">
                    </div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0" style="margin-top: 3.5rem !important;margin-bottom: -4rem !important;">

                <!-- Nav Item - Dashboard -->
                <li style="margin-top: 5rem !important;" class="nav-item {{appPage.Select==='home'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('home')">
                        <i class="oi oi-dashboard"></i>
                        <span>Dashboard</span></a>
                </li>
           
                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Projects
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {{appPage.Select==='myprojects'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('myprojects')">
                        <i class="oi oi-folder" ></i>
                        <span>Projects</span></a>
                </li>

                
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {{appPage.Select==='shareprojects'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('shareprojects')">
                        <i class="oi oi-fork" ></i>
                        <span>Shared Projects</span></a>
                </li>

                <hr class="sidebar-divider">
                <!-- Heading -->
                <div class="sidebar-heading">
                    OpenAI
                </div>

                <li class="nav-item {{appPage.Select==='basemodels'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('basemodels')">
                        <i class="bi bi-box-fill"></i>
                        <span>Base Models</span></a>
                </li>

                <li class="nav-item {{appPage.Select==='trainmodels'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('trainmodels')">
                        <i class="bi bi-gear-wide-connected"></i>
                        <span>Train Models</span></a>
                </li>

                <li class="nav-item {{appPage.Select==='testmodels'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('testmodels')">
                        <i class="bi bi-boxes"></i>
                        <span>Test Models</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                <div ng-if="DatoUsuario.type_person === 'A' || DatoUsuario.type_person === 'R'" >
                    <!-- Heading -->
                    <div class="sidebar-heading">
                        User Management
                    </div>

                    <!-- Nav Item - Pages Collapse Menu -->
                    <li class="nav-item {{appPage.Select==='usermanagement'?'active activeMenu':''}}">
                        <a class="nav-link" ng-click="redirect('usermanagement')">
                            <i class="oi oi-hard-drive"></i>
                            <span>Application users</span></a>
                    </li>
                    
                    
                    <hr class="sidebar-divider d-none d-md-block">
                </div>

                <!-- Heading -->
                <div class="sidebar-heading">
                    UML
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {{appPage.Select==='interpret'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('interpret')">
                        <i class="oi oi-script"></i>
                        <span>Interpret</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">
                <!-- Heading -->
                <div class="sidebar-heading">
                    IoT Systems
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {{appPage.Select==='componentsiot'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('componentsiot')">
                        <i class="oi oi-wrench"></i>
                        <span>IoT Components</span></a>
                </li>
                
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item {{appPage.Select==='settingsprotocol'?'active activeMenu':''}}">
                    <a class="nav-link" ng-click="redirect('settingsprotocol')">
                        <i class="oi oi-code"></i>
                        <span>Protocol Configuration</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Divider -->

                <!-- Sidebar Message -->
                <div class="sidebar-card d-none d-lg-flex">
                    <img class="sidebar-card-illustration mb-2" src="resources/img/img-app/dowloandIoT.svg" alt="...">
                    <p class="text-center mb-2"><strong>To compile and upload</strong> the code to your Arduino board, click the button to download the corresponding application. </p>
                    <a class="btn button-ds btn-sm" href="#">Upload</a>
                </div>

            </ul>

            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Tittle -->
                        <!--<h1 class="h3 mb-0 text-gray-800">{{appPage.tittle}}</h1>-->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <li class="nav-item dropdown no-arrow" style="display: flex; align-items: center;">
                                <span class="badge badge-warning mr-1 text-black-50" id="permitUser"></span>
                            </li>

                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span ng-class="(responseHasSecretKey.hasSecretKey) ? 'mr-2 d-none d-lg-inline text-gray-600 small openAi'
                                    : 'mr-2 d-none d-lg-inline text-gray-600 small'"
                                          id="nameUser">
                                    </span>
                                    <img class="img-profile rounded-circle" alt="..."
                                         src="resources/img/img-app/userMale.png">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" ng-click="openModalNewSecretKey()">
                                        <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Secret Key OpenAI
                                        <span class="badge badge-info"> NEW </span>
                                    </a>
                                    <a class="dropdown-item" ng-click="openModalSettings()">
                                        <i class="fas fa-cog fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Settings
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" ng-click="logOut()">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->

                    <div ng-view></div>
                    <!-- End Page Content -->
                </div>


                <!-- MODAL ALL TASKS WITH ONLY PERCENTAGES TO EDIT -->
                <div class="modal fade" id="ModalOpinion" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                     aria-hidden="true" data-backdrop="static" data-keyboard="false">

                    <div class="modal-dialog modal-dialog-centered sha">
                        <div class="modal-content">
                            <form name="form_opinion" ng-submit="CreateOpinion(form_opinion)">
                                <div class="modal-header">
                                    <h5 class="modal-title">Feedback form</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="col-form-label col-form-label-sm text-center"> What is the opinion of the page? </div>
                                        <div class="container  text-center">
                                            <img src="resources/img/img-opinions/estrella_black.svg" class="startimg" id="estone" width="30" height="30"/>
                                            <img src="resources/img/img-opinions/estrella_black.svg" class="startimg" id="esttwo" width="30" height="30"/>
                                            <img src="resources/img/img-opinions/estrella_black.svg" class="startimg" id="estthree" width="30" height="30"/>
                                            <img src="resources/img/img-opinions/estrella_black.svg" class="startimg" id="estfor" width="30" height="30"/>
                                            <img src="resources/img/img-opinions/estrella_black.svg" class="startimg" id="estfive" width="30" height="30"/>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group container">
                                    <label class="col-form-label col-form-label-sm">Suggestion:</label>
                                    <select class="form-control"  name="suggestion_type"  style="font-size: 15px"
                                            ng-model="suggestion_type"
                                            required
                                            >
                                        <option value="ERR">ERROR</option>
                                        <option value="SGS">SUGGESTION</option>
                                    </select>
                                </div>


                                <div class="form-group container">
                                    <label class="col-form-label col-form-label-sm"> Description:</label>
                                    <textarea name="observation"
                                              class="form-control"
                                              ng-model="observation"
                                               maxlength="200" required>

                                    </textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="CloseModalOpinion()">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-sm btn-primary"  >
                                        Save changes
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <footer class="sticky-footer bg-white mt-4">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Aplication Web 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
        </div>
        <script src="resources/js/js-view/ctrl_home.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_myprojects.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_notfound.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_components.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_sharedprojects.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_users.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_diagramsuml.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_projectentregable.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_diagramsuml.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_dispositiveIoT.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_settingsprotocol.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_basemodels.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_trainmodels.js" type="text/javascript"></script>
        <script src="resources/js/js-view/ctrl_testmodels.js" type="text/javascript"></script>
        <script src="resources/js/js-functions/ctrl_interprete.js" type="text/javascript"></script>
        <script src="resources/js/js-uml/js_tools_uml.js" type="text/javascript"></script>
        <script src="resources/js/js-uml/js_class_diagram.js" type="text/javascript"></script>
        <script src="resources/js/js-codeedit.js" type="text/javascript"></script>
        <script src="resources/js/js-view/js-drawcomponent.js" type="text/javascript"></script>
        <script src="resources/js/js-functions/view-code_highlight.min.js" type="text/javascript"></script>
        <script src="resources/js/js-functions/view-code_highlightjs-line-numbers.min.js" type="text/javascript"></script>
        <script src="resources/js/js-library/armadillo.js" type="text/javascript"></script>
    </body>
</html>
