/DiagramaCU/build/
/DiagramaCU/dist/
/DiagramaCU/nbproject/private/
/TddT4IoTS/build/
/TddT4IoTS/dist/
/TddT4IoTS/nbproject/private/
/Tddm4IoTbsServer/target/
/storageTddm4IoTbs/target/
/Tddt4iotsMaven/target/
/Tddm4IoTbsDaemon/nbproject/private/
/Tddm4IoTbsDaemon/build/
/Tddm4IoTbsDaemon/dist/
.venv/
/Tddt4iotsMaven/target 2/
